---

---

<div class="line">
  <div class="lineColor"></div>
</div>

<style>
  .line {
    margin: 0 auto;
    width: 2rem;
    height: 20rem;
  }

  .lineColor {
    background: linear-gradient(to bottom, red, #209a98);
    width: 3px;
    height: 10rem;
  }
</style>
